# Security
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=False

# Database & Celery (Default for local docker-compose)
DATABASE_URL=postgres://ptmuser:ptmpassword@db:5432/eduptmdb
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Premium Video Calling (Dyte)
DYTE_ORG_ID=your_dyte_org_id_here
DYTE_API_KEY=your_dyte_api_key_here
